/* @font-face {
  font-family: "STARWARS1";
  src: local("STARWARS1"), url(./fonts/STARWARS.ttf), format('truetype');
} */

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #000103;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #000103;
  /* height: fit-content; */
  padding-bottom: 5vh;
  background-image: url("./svgpattern15.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 15vh;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

ul li {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
  font-weight: bold;
  color: #fffffa;
  margin: 2vh;
  cursor: pointer;
  transition: color 0.3s;
}

li:hover {
  color: #ff312e;
}

a {
  text-decoration: none;
  color: #fffffa;
}

.logout {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  font-weight: bold;
  color: #fffffa;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: color 0.3s;
  cursor: pointer;
}

.logout:hover {
  color: #ff312e;
}

h1 {
  text-align: center;
  margin: 20vh auto 5vh;
  text-transform: uppercase;
  font-family: "STARWARS";
  font-size: 4em;
  letter-spacing: 0.05em;
  color: #ffe81f;
}

i {
  position: absolute;
  top: 30vh;
  cursor: pointer;
  transform: scale(5);
  transition: transform 0.3s;
  color: #ffe81f;
}

i.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

i:hover {
  transform: scale(6);
}

i:first-of-type {
  left: 10vh;
}

i:last-of-type {
  left: auto;
  right: 10vh;
}

.loadingDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  transform: scale(0.5);
  border-radius: 50%;
  box-shadow: 0 0 100px 100px #000103;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto Mono" monospace;
  color: #fffffa;
}
footer span {
  display: block;
}

@media screen and (max-width: 1250px) {
  /* footer {
    bottom: 5px;
  } */

  h1 {
    max-width: 60%;
    margin-top: 10vh;
  }

  i:first-of-type {
    top: 30vh;
    left: 25vh;
  }

  i:last-of-type {
    top: 30vh;
    right: 25vh;
  }
}

@media screen and (max-width: 800px) {
  ul {
    justify-content: center;
  }
}

@media screen and (max-width: 761px) {
  ul {
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    margin-top: 15vh;
    max-width: 100%;
    padding: 2vh;
  }

  i:first-of-type {
    top: 40vh;
    left: 15vh;
  }

  i:last-of-type {
    top: 40vh;
    right: 15vh;
  }
}

@media screen and (max-width: 470px) {
  i:first-of-type {
    top: 45vh;
    left: 15vh;
  }

  i:last-of-type {
    top: 45vh;
    right: 15vh;
  }
}

@media screen and (max-width: 376px) and (max-height: 813px) {
  h1 {
    font-size: 2em;
    max-width: 75%;
    padding: 1vh;
  }
  i {
    transform: scale(3);
  }
  i:hover {
    transform: scale(3);
  }
  i:first-of-type {
    top: 31vh;
    left: 10vh;
  }

  i:last-of-type {
    top: 31vh;
    right: 10vh;
  }
}
